@import "node_modules/normalize.css/normalize";
@import "_vars.scss";
@import "_mixins.scss";

@font-face {
  font-family: 'Inter';
  src: local("Inter-Regular"),
  url("../fonts/Inter-Regular.woff2") format("woff2"),
  url("../fonts/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: local("Inter-Medium"),
    url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: local("Inter-Bold"),
  url("../fonts/Inter-Bold.woff2") format("woff2"),
  url("../fonts/Inter-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: linear-gradient(180deg, #F2F2F2 54.79%, rgba(221, 221, 221, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  min-height: 100vh;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus, *:focus-visible {
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img, video {
  max-width: 100%;
  display: block;
}

button {
  @extend %btn-reset;
}

ul {
  @extend %list-reset;
}

.container {
  max-width: 820px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}